:root{
    --dark-gradient:radial-gradient(100% 237.07% at 100% 100%, #1E00C9 0%, #34323E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    --white:rgba(255, 255, 255, 1);
    --light-gradient: radial-gradient(100% 237.07% at 100% 100%, #1E00C9 0%, #D0C8FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* On scroll dark mode animation */

@keyframes backgrond-transition-scroll {
  from {
    background: var(--light-gradient);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
  to
  {
    background: var(--dark-gradient);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
}


/* Text rotation animation */
@keyframes slide {
   from
    {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}



body{
    background: var(--dark-gradient);
    color: var(--white);
    font-family: Inter;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    animation: backgrond-transition-scroll step-end;
    animation-timeline: view(-700px);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Style for the section title */

.sectin-title{
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.36px;
    text-align: center;
    text-transform: uppercase;
    padding: 15vh 0vh 10vh 0vh;
}

.btn-primary {
    color:var(--white);
    max-width: 200px;
    min-height: 50px;
    font-size: 16px;
    font-weight: 400px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Navigation */
.navigaton{
    display: flex;
    gap: 1.5rem;
    padding: 0.8rem 2.5rem;
    margin: 5vh 12vh 0vh 12vh;
    color: var(--white);
    text-decoration: none;
    max-height: fit-content;
}

.navigaton a{
    list-style: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Sliding text */

.landingPage-heroText{
    overflow: hidden;
    white-space: nowrap;
    padding: 8vh 0px 8vh  0px;
    
}

.heroText-slide{
    display: inline-block;
    animation: 32s slide infinite linear;
}

.heroText-slide h1{
    display: inline;
    font-size: 200px;
    font-weight: 900;
}



/*  Main page - Cards */

.landingPage-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    gap: 40px;
    padding: 0px 107px 180px 107px;

}

.card{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(212, 212, 212, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25);
}

/* Description card */
.landignPage-description{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 50px 40px 50px;
    gap: 40px;
}

.landignPage-description h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.landignPage-description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 83px;
}

.contact-btn{
    color:var(--white);
    max-width: 200px;
    min-height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}
/* Client card */

.landignPage-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landignPage-clients h1{
    font-size: 64px;
    font-weight: 900;
}

.landignPage-clients span{
    font-size: 16px;
    font-weight: 400;
}

/* Rewiews card */

.landignPage-rewiews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landignPage-rewiews h1{
    font-size: 64px;
    font-weight: 900;
}

.landignPage-rewiews span{
    font-size: 16px;
    font-weight: 400;
}



/* TOOLS SECTION */


.landignPage-tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh; 
    /* margin-bottom: 60px; */
}

.landignPage-tools h1{ 
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.36px;
    text-align: center;
    
}

.landignPage-tools-images {
    display: flex;
    gap: 80px;
    
}

.landignPage-tools-images img{
    max-width: 245px;
    max-height: 100px; 
}
/* Projects section */

/* Projects container */
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 7vh; */
    margin-top: 22vh;
    padding: 0px 10vh 0px 10vh;
}

.landingPage-projects h1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.36px;
    text-align: center;
}

/* Project card */
.project-card{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(fit-content, 900px));
    gap: 40px;
    padding: 40px 50px 40px 50px;
    margin-bottom: 7vh;
}

.project-card-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-column: span 2;
    align-items: center;
}

.project-card-header h1{
    font-size: 32px;
    font-weight: 900;
    line-height: 38.73px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.project-card-header h2{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

} 

.project-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    align-self: flex-start;

}

.project-card button{
    grid-column-start: 2;
    align-self: flex-end ;
}

.project-card img{
    align-self: flex-start;
    max-width: 900px;
    max-height: 345px;
    grid-row: span 2;
}

/* Projects button see more */

.projects-container button{
    min-width: 200px;
    max-height: 50px;
}

/*  CUSTOM BUILD WEBSITES*/

.custom-build-websites{
    display: grid;
    padding:  106px 266px 180px 266px;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

.custom-build-websites h2{
    grid-row-start: 1;
    grid-column: span 2;
    padding: 15vh 0vh 10vh 0vh;
}


.slider{
    height: 18vh;
    border-radius: 20px;
    max-width: 5vh;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
    padding-top: 20px;
}


.custom-build-websites-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-build-websites h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    padding: 136px;
}


/* TESTIMONIALS */

.testimonials-container{
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0vh 10vh 30vh 10vh;
}

.testimonial-card{
 display: flex;
 flex-direction: column;
 padding: 5vh;
}

.testimonial-card p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px;
    
}

.testimonial-card-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5vh;
    gap: 40px;
}
.testimonial-card-profile-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.testimonial-card img{
    max-width: 75px;
    max-height: 75px;
}
.testimonial-card h1{
    font-family: Inter;
    font-size: 16px;    
    font-weight: 900;
    line-height: 19.36px;

    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.testimonial-card h2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}


/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-evenly; */
    
    background: rgba(30, 0, 201, 1);
}

footer h1{
    font-family: Inter;
    padding: 52px 40px  52px 40px;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.36px;
    text-align: center;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .landingPage-container{
        grid-template-columns: 1fr;
    }
    .landignPage-tools-images{
        flex-direction: column;
        
    }
    .project-card{
        grid-template-columns: 1fr;
    }
    .project-card-header{
        grid-column: span 1;
    }
    .testimonials-container{
        grid-column: 1fr;
    }
}